<span>
    <div class="sidebar-content-title">
      Scene
    </div>

    <div class="sidebar-content">

        <div style="margin-left: 16px; margin-top: 3px">
            <b style="color: white; font-size: 14px; font-weight: 500;">Color</b>

            <div style="margin-bottom: 5px;">
            <div id="lineColorPicker" style="display: inline-block;"></div>
            </div>

            <b style="color: white; font-size: 14px; font-weight: 500;">Opacity</b>
            <div id="transparencySlider" class="med3d-slider">
                <div id="transparencyHandle"  class="ui-slider-handle med3d-slider-handle"></div>
            </div>

        </div>

    </div>
</span>