<nav class="navbar navbar-expand-lg navbar-dark fixed-top hover-div" role="navigation">

        <div class="navbar-brand logo-wrapper">
            <img src="assets/img/med3D-icon.png">
        </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent" class="navbar-collapse collapse">
        <div class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-file"></i> File <span class="caret"></span>
                </a>

                <div class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#taskProgressModal">Save</a>

                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-submenu-anchor">Open / Download</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" ng-class="{disabled: sharingState.listeningInProgress}" ng-attr-data-toggle="{{ sharingState.listeningInProgress ? '' : 'modal' }}" data-target="#objLoaderModal">Wavefront (.obj)</a>
                            <a class="dropdown-item" ng-class="{disabled: sharingState.listeningInProgress}" ng-attr-data-toggle="{{ sharingState.listeningInProgress ? '' : 'modal' }}" data-target="#volumeOpenModal">Volume (.mhd)</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i> Options <span class="caret"></span>
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#inputSettingsModal">Inputs</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#displaySettingsModal">Display Settings</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-question-circle"></i> Help <span class="caret"></span>
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#aboutModal">About</a>
                    <a class="dropdown-item" href="https://www.google.com" target="_blank">User Manual</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#licenceModal">Licence</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-slideshare"></i> Share <span class="caret"></span>
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" ng-show="!sharingState.hostingInProgress && !sharingState.listeningInProgress" href="#sharingHostModal" data-toggle="modal">Host Session</a>
                    <a class="dropdown-item" ng-show="!sharingState.hostingInProgress && !sharingState.listeningInProgress" href="#sharingClientModal" data-toggle="modal">Join Session</a>
                    <a class="dropdown-item" ng-show="sharingState.hostingInProgress" id="sharingStopHostingButton">Stop Hosting</a>
                    <a class="dropdown-item" ng-show="sharingState.listeningInProgress" id="sharingLeaveSessionButton">Leave Session</a>
                </div>
            </li>

        </div>
        <ul class="nav navbar-nav navbar-right-no-margin">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#loginModal">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
            </li>
        </ul>
    </div>
</nav>