<div id="objLoaderModal" class="modal fade floating-window">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content med3d-modal">

            <div class="modal-header med3d-modal-header">
                <div class="modal-title">
                    <div class="logo-wrapper">
                        <img src="assets/img/med3D-icon.png">
                    </div>

                    <span>Wavefront (.obj)</span>
                </div>
                <button type="button" class="med3d-close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                <div class="card">
                    <div class="card-header">

                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#localObjTab" data-toggle="tab">Local</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#serverObjTab" data-toggle="tab">Server</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <!-- LOCAL TAB -->

                            <div role="tabpanel" class="tab-pane fade active show" id="localObjTab" aria-labelledby="localObjTab-tab">
                                <div class="input-group">
                                    <label>Select .obj file:</label>
                                    <input id="objFileInput" type="file" accept=".obj" class="filestyle">
                                </div>
                                <p class="warning-text warning-active-subscription" style="margin-top: 5px; display:none;"><b>WARNING: Active scene subscription will be terminated!</b></p>
                            </div>


                            <!-- SERVER TAB -->
                            <div role="tabpanel" class="tab-pane fade" id="serverObjTab" aria-labelledby="serverObjTab-tab">
                                <input type="text" ng-model="fileSearchString" ng-change="validateSelection(fileSearchString)" ng-init="fileSearchString = ''" style="margin-bottom: 5px;" class="form-control" placeholder="Search for file...">
                                <div class="med3d-file-scrollbar" data-simplebar>

                                    <div id="objListGroup" class="list-group med3d-file-list-group d-flex flex-row flex-wrap">
                                        <a ng-repeat="file in serverFiles" ng-if="file.filename.toLowerCase().includes(fileSearchString.toLowerCase())" ng-click="toggleServerFile($event)" data-filename="{{file.filename + file.suffix}}" ng-href="#" class="list-group-item list-group-item-action flex-column align-items-start med3d-file-list-item">
                                            <img src="assets/img/model-placeholder.png"/>

                                            <div class="w-100 med3d-file-list-item-content">
                                                <span class="mb-1 med3d-file-list-item-title">{{file.filename}}</span>
                                                <div class="d-flex w-100 justify-content-between">
                                                    <small>{{file.uploadDate}}</small>
                                                    <small>{{file.size}}</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="med3d-file-noresults" ng-show="!matchesAnyServerFile(fileSearchString)">
                                        OH NO! NO RESULTS
                                    </div>

                                    <span id="objListErrorMsg"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer med3d-modal-footer">
                <button type="button" class="btn med3d-btn-default" data-dismiss="modal">Close</button>
                <div class="tooltip-wrapper disabled" data-toggle="tooltip" title="Please select the file." style="display: inline-block">
                    <button id="objFileOpenButton" type="button" class="btn med3d-btn-primary" disabled="disabled">Load</button>
                </div>
            </div>
        </div>
    </div>
</div>