<div id="inputSettingsModal" class="modal face" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content med3d-modal">
            <div class="modal-header med3d-modal-header">
                <div class="modal-title">
                    <div class="logo-wrapper">
                        <img src="assets/img/med3D-icon.png">
                    </div>

                    <span>Options - Input</span>
                </div>
                <button type="button" class="med3d-close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                <h5>Navigation widgets:</h5>

                <div class="form-group">
                    <ul class="med3d-ul">
                        <li>
                            <input id="optionsTNavigatorCheckbox" class="med3d-checkbox" type="checkbox" name="navigation-widget" ng-model="navigatorToggle.translation"><span style="width: 10px;">&nbspTranslation widget</span>
                        </li>
                        <li>
                            <input id="optionsRNavigatorCheckbox" class="med3d-checkbox" type="checkbox" name="navigation-widget" ng-model="navigatorToggle.rotation"><span style="width: 10px;">&nbspRotation widget</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>